<!DOCTYPE html>
<html>
<head>
  <title>mar-10</title>
  <link rel="apple-touch-icon" href="/images/bmar_icon.png"/>

  <style type="text/css">
  .Home {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 366px;
      height: 202px;
      margin-top: -250px;
      margin-left: -100px;
  }
  </style>
</head>

<body>

<div class="Home">
  <p style="text-align:center;margin-left:auto;margin-right:auto;">
    <%= link_to image_tag("/images/bmar2.png"), {:action => 'index', :controller => 'about'} %>
  </p>
</div>

</body>
</html>