<!DOCTYPE html>
<html>
<head>
  <title>Night Fly</title>
</head>

<body>
  <h3 style="text-align:center;margin-left:auto;margin-right:auto;">
    <code><em><span
    style="font-size: 32pt"><span
    style="font-family: Courier New,Courier,monospace">Night
    Fly</span></span></em></code>
  </h3>

  <p style="text-align:center;margin-left:auto;margin-right:auto;">
    <img alt="Fly_home" src="/images/fly.jpg" width="400" height="292" />
  </p>

  <p style="text-align:center;margin-left:auto;margin-right:auto;">
    <span style="font-size: 18pt">Enter</span>
  </p>
</body>
</html>